# Nomes: Luca Wolffenbuttel Bohnenberger e Louise Zanol Northfleet

In [18]:
from statsmodels.stats.multivariate import test_mvmean_2indep
import pandas as pd

In [4]:
df = pd.read_csv("laseri.csv")
df

,Sex,Age,Height,Weight,Waist,Hip,PWVT3,PWVT4,BMI,WHR,...,PWVT1,PWVT2,HRT1T4,COT1T4,SVRIT1T4,PWVT1T4,HRT1T2,COT1T2,SVRIT1T2,PWVT1T2
0,Male,33,181,88,86.9,102.0,17.1,10.9,26.9,0.852,...,10.6,19.7,11,1.35,-470,-0.3,-5,1.10,-755,-9.1
1,Female,30,152,58,76.5,91.5,13.2,7.4,25.1,0.836,...,7.2,11.6,0,0.33,-130,-0.2,0,1.86,-1258,-4.4
2,Female,33,174,104,85.4,114.5,13.3,8.1,34.4,0.746,...,7.0,11.1,1,1.36,-407,-1.1,-6,2.23,-882,-4.1
3,Female,36,168,81,90.6,107.7,16.0,16.0,28.7,0.841,...,9.1,16.7,-13,1.28,-587,-6.9,-14,1.64,-921,-7.6
4,Female,36,172,90,88.1,107.8,15.8,9.0,30.4,0.817,...,9.0,15.6,4,1.07,-305,0.0,-8,2.93,-1171,-6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Male,28,186,96,97.1,107.4,19.0,19.0,27.7,0.904,...,10.3,16.6,-26,0.82,-488,-8.7,-18,0.36,-508,-6.3
219,Female,34,154,63,75.1,93.5,14.0,11.4,26.6,0.803,...,10.5,14.2,2,0.32,-480,-0.9,1,0.39,-609,-3.7
220,Female,40,164,86,94.6,118.5,14.3,9.1,32.0,0.798,...,8.8,15.0,1,0.14,-132,-0.3,-14,-0.19,-433,-6.2
221,Female,37,163,57,68.5,91.9,14.4,8.4,21.5,0.745,...,7.9,13.1,12,1.33,-286,-0.5,-32,3.07,-1058,-5.2
222,Female,41,171,80,89.0,111.4,14.9,10.0,27.4,0.799,...,9.3,16.3,11,1.45,-477,-0.7,-4,1.81,-692,-7.0

In [ ]:
df_a = df[[ "Sex","HRT1", "HRT2", "HRT3", "HRT4"]]
df_a

        Sex  HRT1  HRT2  HRT3  HRT4
0      Male    75    80    91    64
1    Female    65    65    82    65
2    Female    67    73    79    66
3    Female    61    75    74    74
4    Female    68    76    80    64
..      ...   ...   ...   ...   ...
218    Male    71    89    97    97
219  Female    72    71    73    70
220  Female    57    71    73    56
221  Female    73   105   103    61
222  Female    66    70    80    55

[223 rows x 5 columns]

In [23]:
df_fem = df_a[df["Sex"] == "Female"]
df_fem = df_fem.drop(columns="Sex")
df_fem

     HRT1  HRT2  HRT3  HRT4
1      65    65    82    65
2      67    73    79    66
3      61    75    74    74
4      68    76    80    64
5      57    73    67    49
..    ...   ...   ...   ...
216    55    69    84    51
219    72    71    73    70
220    57    71    73    56
221    73   105   103    61
222    66    70    80    55

[120 rows x 4 columns]

In [24]:
df_mas = df_a[df["Sex"] == "Male"]
df_mas = df_mas.drop(columns="Sex")
df_mas

     HRT1  HRT2  HRT3  HRT4
0      75    80    91    64
7      47    57    60    46
8      71    81    86    63
10     69    77    83    67
11     54    68    73    51
..    ...   ...   ...   ...
209    70    83    77    62
214    49    72    71    48
215    58    71    73    58
217    85    89    94    80
218    71    89    97    97

[103 rows x 4 columns]

#### Hotellings test for multivariate mean in two independent samples

#### The null hypothesis is that both samples have the same mean. The alternative hypothesis is that means differ.

In [ ]:
test_mvmean_2indep(df_mas, df_fem)

<class 'statsmodels.stats.base.HolderTuple'>
statistic = np.float64(1.4892684332610164)
pvalue = np.float64(0.20643536815038813)
df = (4, 218)
t2 = np.float64(6.039051811939168)
distr = 'F'
tuple = (np.float64(1.4892684332610164), np.float64(0.20643536815038813))